
<style>
body{
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('http://scart-design.com/wp-content/uploads/2018/02/Jupara-3.jpg');
  background-repeat: no-repeat;
  background-size:cover;

}

</style>



<h1>New Product for <%= @store.name %></h1>

<%= render 'products/form' %>
